<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("headTagsAll.ejs") -%> 
</head>
<body>    
    <div class="mainpage">        
        <%- include("navbar.ejs") -%>        
        <%- include("sidebar.ejs") -%> 
        
        <div class="section">
            <div id="preloader"></div>

            <!-- Write Main Code inside Content DIV {DYNAMIC CONTEXT} -->
            <div class="content">