<!-- Footer -->
<div class="myfooter">
    <div class="footerdetails">
        <p>All Rights Reserved by the DBMS group team.</p>
        <p>Group Team Name: Team DB MS Inverse One</p>
        <p>Contact Us in IUB or outside of the institution</p>
        <p>IUB - Independent University Bangladesh</p>
    </div>
</div>