<!-- Hidden Sidebar -->
<div class="sidebar">
    <div class="closeicon"><i class="fa-solid fa-xmark"></i></div>
    <div class="list-heading">
        <h3>Graphs</h3>
    </div>
    <ul class="sidebarlist">
        <li class="sidebarlistitem"><a href="#">Line Graph</a></li>
        <li class="sidebarlistitem"><a href="#">Pie Chart</a></li>
        <li class="sidebarlistitem"><a href="#">Some Graph</a></li>
        <li class="sidebarlistitem"><a href="#">Some Graph</a></li>
        <li class="sidebarlistitem"><a href="#">Some Graph</a></li>
        <li class="sidebarlistitem"><a href="#">Some Graph</a></li>
        <li class="sidebarlistitem"><a href="#">Some Graph</a></li>
        <li class="sidebarlistitem"><a href="#">Some Graph</a></li>
        <li class="sidebarlistitem"><a href="#">Some Graph</a></li>
        <li class="sidebarlistitem"><a href="#">Some Graph</a></li>
        <li class="sidebarlistitem"><a href="#">Some Graph</a></li>
        <li class="sidebarlistitem"><a href="#">Some Graph</a></li>
        <li class="sidebarlistitem"><a href="#">Some Graph</a></li>
        <li class="sidebarlistitem"><a href="#">Some Graph</a></li>                    
    </ul>
    <div class="navlistshrink">
        <div class="navlistshrinkheading">
            <p>More</p>
        </div>
    </div>
</div>   
<!-- Sidebar Ends -->