<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/headTagsAll.ejs") -%> 
</head>
<body>    
    <div class="mainpage">        
        <%- include("../partials/navbar.ejs") -%>        
        <%- include("../partials/sidebar.ejs") -%> 
        
        <div class="section">
            <div id="preloader"></div>

            <!-- Content Start **Write Main Code inside Content DIV {DYNAMIC CONTEXT} -->
            <div class="content">

                
            </div>
            <!-- Content End -->
        </div>
    </div>    

    <div class="nextpage">

    </div>

    <!-- Footer -->
    <%- include("../partials/footer.ejs") -%> 

</body>

<script type="text/javascript" src="js/script.js"></script>

</html>



