<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/headTagsAll.ejs") -%> 
</head>
<body>    
    <div class="mainpage">        
        <%- include("../partials/navbar.ejs") -%>        
        <%- include("../partials/sidebar.ejs") -%> 
        
        <div class="section">
            <div id="preloader"></div>

            <!-- Content Start **Write Main Code inside Content DIV {DYNAMIC CONTEXT} -->
            <div class="content">

                <div class="box"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam eum, tempora voluptatem ullam ipsa sit doloremque quod. Sunt ad optio earum, culpa iste hic, quibusdam praesentium doloremque aut deleniti omnis.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam eum, tempora voluptatem ullam ipsa sit doloremque quod. Sunt ad optio earum, culpa iste hic, quibusdam praesentium doloremque aut deleniti omnis.
                </p></div>
                <div class="box"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam eum, tempora voluptatem ullam ipsa sit doloremque quod. Sunt ad optio earum, culpa iste hic, quibusdam praesentium doloremque aut deleniti omnis.</p></div>
            
            </div>
            <!-- Content End -->
        </div>
    </div>    

    <div class="nextpage">

    </div>

    <!-- Footer -->
    <%- include("../partials/footer.ejs") -%> 

</body>

<script type="text/javascript" src="js/script.js"></script>

</html>




